.header-wrapper {
    width: 100%;
    box-shadow: 2px 2px 2px #000000;
    background: linear-gradient(90deg,#898989, #444444, #898989);
    position: relative;
}

/* .header {
    max-width: 904px;
    margin: 0 auto;
    font-family: sans-serif;
} */

.header-title {
    font-size: 2rem;
    text-align: center;
    padding: 27px 0;
}

.choose-lang {
    position: absolute;
    top: 35px;
    right: 35px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000000;
    outline: none;
    cursor: pointer;
    z-index: 2;
}

.link {
    text-decoration: none;
    color: #222222;
}

.nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.nav-btn {
    width: 8rem;
    margin: 0 10px;
    margin-right: 20px;
    color: #ffffff;
}

.header-link {
    text-decoration: none;
    color: #ffffff;
}
